@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.filter-bar
{
  margin: 2;
  padding: 2;
}

.content-page{
  display: flex;
  /* margin-top: 5px; */
  margin-left: 250px;
  margin-right: 6px;
  min-height: 4rem;
  background-color: rgb(248, 217, 217);
  border: 0.1px solid;

}

.down-button
{
  background-color: #efe7e7;
  color: #fff;
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0%;

}












