.about-us-container {
    background-color:  rgb(206, 229, 255);
    color:  rgb(0, 0, 0);
    padding: 30px 40px 140px;

  }
  
  .about-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color:  rgb(4, 38, 76)
  }
  
  .about-content > h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 60px;
    color:  rgb(4, 38, 76)

  }
  
  .about-content > p {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 40;
    color:  rgb(4, 38, 76)

  }
  .about-content b  
  {
    color:  rgb(0, 1, 3)
  }
  .about-content li 
  {
    color:   rgb(4, 38, 76)
  }
  
  .goal-paragraph {
    margin-top: 40px;
    margin-bottom: 40px;
    color:  rgb(4, 38, 76)

  }