.network-partners {
    background-color:  rgb(206, 229, 255);
    color:  rgb(4, 38, 76);
    padding: 130px 30px;
    text-align: center;
}

.network-content {
    margin-top: 0.5in;
    font-size: 2rem;
}
  
.partners-grid {
padding-top: 0.5in;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px; 
color:  rgb(4, 38, 76);

}

.partner-item {
text-align: center;
}

.partner-item img {
width: 150px; 
height: 90;
}

.partner-item button {
margin-top: 10px;
width: 120px; 
height: 80px; 
background-color:rgb(4, 38, 76);
color: black;
border: none;
cursor: pointer;
transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

.partner-item button:hover {
background-color: rgb(4, 38, 76);
color: white;
}