.our-team {
    background-color:  rgb(206, 229, 255);
    color:  rgb(4, 38, 76);
    padding: 130px 30px;
    
}
  
.our-team > p {
text-align: center;
font-size: 1.3rem;
margin-bottom: 30px;
margin-top: 20px; 
color:  rgb(4, 38, 76);

}

.our-team > p > b {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 20px; 
    color:  rgb(1, 13, 27);

    }